@font-face {
  font-family: "iconfont"; /* Project id 4012527 */
  /* Color fonts */
  src: 
       url('iconfont.ttf?t=1687518277568') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Docker:before {
  content: "\e210";
}

.icon-zhengzebiaodashi:before {
  content: "\e218";
}

.icon-nginx:before {
  content: "\e226";
}

.icon-git:before {
  content: "\e227";
}

.icon-shejimoshi:before {
  content: "\e229";
}

.icon-linux__easyiconnet:before {
  content: "\e208";
}

.icon-shell0:before {
  content: "\e204";
}

.icon-weifuwu:before {
  content: "\e219";
}

.icon-database:before {
  content: "\e207";
}

.icon-xingzhuang:before {
  content: "\e222";
}

.icon-Idea:before {
  content: "\e212";
}

.icon-memcacheyunshujukuMemcac:before {
  content: "\e200";
}

.icon-java:before {
  content: "\e214";
}

.icon-spring-cloud:before {
  content: "\e205";
}

.icon-gateway:before {
  content: "\e211";
}

.icon-SPRINGBOOT:before {
  content: "\e228";
}

.icon-java1:before {
  content: "\e201";
}

.icon-seat-a-select:before {
  content: "\e230";
}

.icon-sql:before {
  content: "\e221";
}

.icon-JVM:before {
  content: "\e213";
}

.icon-maven:before {
  content: "\e203";
}

.icon-SPRINGMVC:before {
  content: "\e215";
}

.icon-redis:before {
  content: "\e223";
}

.icon-connection-MongoDB:before {
  content: "\e202";
}

.icon-swagger:before {
  content: "\e220";
}

.icon-elasticsearch-Elasticsearch:before {
  content: "\e206";
}

.icon-spring:before {
  content: "\e231";
}

.icon-sentinel:before {
  content: "\e216";
}

.icon-java3:before {
  content: "\e217";
}

.icon-MYBATIS:before {
  content: "\e224";
}

.icon-Nacos:before {
  content: "\e225";
}

.icon-mybatis-plus:before {
  content: "\e209";
}

