@font-face {
  font-family: "iconfont"; /* Project id 4012534 */
  /* Color fonts */
  src: 
       url('iconfont.ttf?t=1687515059789') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhongxin:before {
  content: "\e100";
}

.icon-cool:before {
  content: "\e101";
}

.icon-picture__easy:before {
  content: "\e102";
}

.icon-yijianfankui:before {
  content: "\e103";
}

.icon-powershell:before {
  content: "\e105";
}

.icon-http:before {
  content: "\e119";
}

.icon-ceshi:before {
  content: "\e126";
}

.icon-wendang:before {
  content: "\e123";
}

.icon-log:before {
  content: "\e117";
}

.icon-qiquanjiagou:before {
  content: "\e108";
}

.icon-shejizhanshi:before {
  content: "\e116";
}

.icon-guihuaheshi:before {
  content: "\e122";
}

.icon-zhongyao:before {
  content: "\e118";
}

.icon-zhongyaotishi:before {
  content: "\e106";
}

.icon-xiangmuguanli:before {
  content: "\e120";
}

.icon-zujiancaozuozujianfuxuankuangxuanzhong:before {
  content: "\e109";
}

.icon-shixushujuku:before {
  content: "\e104";
}

.icon-jinggao:before {
  content: "\e111";
}

.icon-zhinan:before {
  content: "\e124";
}

.icon-qita:before {
  content: "\e113";
}

.icon-yunpan:before {
  content: "\e112";
}

.icon-wicon-app-ruan-jian-kai-fa-copy:before {
  content: "\e107";
}

.icon-xinshouzhinan:before {
  content: "\e115";
}

.icon-kaifa1:before {
  content: "\e114";
}

.icon-zujianhua:before {
  content: "\e110";
}

.icon-jimu:before {
  content: "\e121";
}

.icon-lianjie1:before {
  content: "\e125";
}

